* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: gray;
}

.wrapper {
    display: flex;
    height: 85px;
    background-color: red;
}

.wrapperChild {
    background-color: rgb(223, 67, 20);
    display: flex;
    align-items: center;
}


.activePage {
    color: gainsboro;
}

.projectsWrapper {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.projectsWrapperChild {
    flex: 0 0 21%;
    margin: 7px 0;
}

.project {
    height: 300px;
    min-width: 300px;
    max-width: 440px;
    border: 1px solid rgb(250, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.project span {
    visibility: hidden;
    font-size: 30px;
    font-weight: 600;
    opacity: 0;
    transition: opacity 1.5s;
}
.project:hover {
}
.project:hover span {
    visibility: visible;
    color:white;
    opacity: 1;

}
.category {
    height: 50;
    display: 'flex';
    align-items: 'center';
    border: 1px solid black;
    cursor: pointer;
}
.activeCategory {
    background: red;
}